@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")' />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@scripts
    </head>
    <body>
	 <<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-nav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Moorefield GAA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/news">News</a>
                    </li>
                    <li>
                        <a href="/downloads">Downloads</a>
                    </li>
					<li>
					<a href="/membership">Membership</a>
					</li>
					<li>
					<a href="/merchandise">Merchandise</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	 <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
			
                <h1 class="Club house photo">
				<div class="well">
                   <img src="@routes.Assets.versioned("images/Moorefield-Club-.jpg")">
                </div>
				</h1>
                <!-- About Us section -->
				<div class="well">
				<h2>
                    About Us
                </h2>
				<div class = "border">
                
					• Moorefield is a Gaelic Athletic Association club in County Kildare, winner of six county senior football championships and three senior hurling championships.
                <br><br>
					• It has a range of sections including Mens Football, Ladies Football, Juvenile Football, Hurling and Camogie
				</div>
					</div>
<div class="well">
                
				<h2>
				Where We Are
				</h2>
				<div class = "border">
				<div class="google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2391.512748344465!2d-6.855313648348451!3d53.17278139529968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485d7f74c5bc8e97%3A0xd677f68b703ff0f1!2sMoorefield+GAA!5e0!3m2!1sen!2sie!4v1478367365769" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				</div>
				<h2>				
				Directions
				</h2>
				<div class = "border">
				<p>Main Street to Moorefield GAA Club
				<br>
				<br>
					•Head Southwest on Edward Street to the Curragh
				<br>
					•Continue onto Moorefield Road
				<br>
				    •Continue onto Ballymany Road/ R445
				<br>
					•At the Roundabout take the 3rd exit onto R413/ R445
				<br>
					•Continue to follow R413
				<br>
					•Go through the roundabout (To Kildare Town)
				<br>
					•Take a right turn after the Curragh Racecourse
				<br>
					•Go over the bridge
				<br>
					•Moorefield is on your left hand side
				</h2>
				</div>
				</div>
                <!-- Pager -->
            </div>
			
            <div class="col-md-4">
                <!-- History Section -->
                <div class="well">
                    <h2>History</h2>
                    <div class="row">
                        <div class="">
                            <div class="crest"><img src="@routes.Assets.versioned("images/moorefield_crest.jpg")"height="300" width="300"> </div>
							<div class = "border">
							<p>Folklore records that  in 1882 two brothers, John O'Kelly of Moorefield Road and James O'Kelly of Ballymany were instrumental in forming the first football team in Newbridge. <p>
							<p>Calling themselves the JJ O'Kellys they played matches against Mountrice, Eyrefield, Monasterevin, Kildare town and Milltown. In 1884, when the GAA was formed, the club changed its name from JJ O'Kelly's to Moorefield, the name of a townland in southern Newbridge.</p>
							</div>
                        </div> 
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
 

    </div>
    <!-- /.container -->  
	       <footer>
		   <div class="well">
            <div class="row">
                <div class="col-lg-12">
                    <ul>Copyright &copy; 2016</ul>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			</div>
        </footer>
    </body>
</html>
