<!DOCTYPE html>
<html lang="en">

  <head>
  <title>Membership | Moorefield GAA</title>
  <meta charset="utf-8">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")' />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
  </head>

  <body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-nav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Moorefield GAA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/news">News</a>
                    </li>
                    <li>
                        <a href="/downloads">Downloads</a>
                    </li>
					<li>
					<a href="/membership">Membership</a>
					</li>
					<li>
					<a href="/merchandise">Merchandise</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	</div>
	</div>

<div class="container">
            
            <div id="content">
				
				<!-- Start of Form -->
				<form class="form-horizontal">
					<fieldset>
						<h1>Membership</h1><hr>
						<div class="well">
						<h4>Complete the form below to sign up for our club membership</h4>
						<!-- Form row (group)  1 First name-->
						<form class="form-horizontal">
						<div class="form-group">
						<br>
						<label for="inputFName" class="control-label col-xs-2">First Name</label>
						<div class="col-sm-6">
						<input type="First Name" class="form-control" id="inputFName" placeholder="First Name">
						</div>
						</div>
						<div class="form-group">
						<label for="inputLastName" class="control-label col-xs-2">Last Name</label>
						<div class="col-sm-6">
						<input type="Last name" class="form-control" id="inputLastName" placeholder="Last Name">
						</div>
						</div>
						<form class="form-horizontal">

						<!-- Form row (group) 3 Email -->
						<div class="form-group">
						<label class="control-label col-xs-2" for="email">Email</label>
						<div class="col-sm-6">
						<input type="Email" class="form-control"id="Email" placeholder="Enter email">
						</div>
						</div>
						
						<!-- Form row (group) 4 Telephone-->
						<div class="form-group">
						<label for="inputTelephone" class="control-label col-xs-2">Telephone</label>
						<div class="col-sm-6">
						<input type="telephone" class="form-control" id="inputTelephone" placeholder="Enter telephone">
						</div>
						</div>

						<!-- Form row (group) 5 Address-->
						<div class="form-group">
						<label for="inputAddress" class="control-label col-xs-2">Address</label>
						<div class="col-sm-6">
						<input type="Address" class="form-control" id="inputAddress" placeholder="Enter address">
						</div>
						</div>
						
						<!-- Form row (group) 6 Section-->
						<div class="form-group">
						<label for="inputsubject" class="control-label col-xs-2">Section</label>
						<div class="col-sm-6">
						
								<select class="form-control" name="subject">
									<option value="1">Men's Football</option>
									<option value="2">Ladies Football</option>
									<option value="2">Juvenile Football</option>
									<option value="2">Hurling</option>
									<option value="2">Camogie</option>
								</select>
							</div>
						</div>
						
						<!-- Form row (group) 6 Date of Birth-->
							<div class="form-group">
							<label for="inputAddress" class="control-label col-xs-2">Date Of Birth</label>
							<div class="col-sm-6">
							<input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
							</div>
						
						
						<!-- Form row (group) 7 Button -->
						
			
						<div class="form-group">
						<div class="col-xs-offset-2 col-xs-10">
						<br>

						<button type="submit" class="btn btn-primary">Confirm</button>
						</div>
						</div>
						
					</fieldset>
				</form>
				</div>
            </div>
			</div>
</div>
</div>
</div>
<footer>
		   <div class="well">
            <div class="row">
                <div class="col-lg-12">
                    <ul>Copyright &copy; 2016</ul>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			</div>
        </footer>
  </body>
</html>

